
<div class="jumbotron">
    <h1>Bienvenido</h1>
    <p class="lead">Proyecto demo</p>
    <p><a href="https://github.com/josecuellar/" class="btn btn-primary btn-lg">Visitar repositorio</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Ejemplo 1</h2>
        <p>Ejemplo 1 texto.</p>
        <p><a href="https://github.com/josecuellar/" class="btn btn-primary btn-lg">Visitar repositorio 1</a></p>
    </div>
    <div class="col-md-4">
        <h2>Ejemplo 2</h2>
        <p>Ejemplo 3 texto.</p>
        <p><a href="https://github.com/josecuellar/" class="btn btn-primary btn-lg">Visitar repositorio 2</a></p>
    </div>
    <div class="col-md-4">
        <h2>Ejemplo 3</h2>
        <p>Ejemplo 3 texto.</p>
        <p><a href="https://github.com/josecuellar/" class="btn btn-primary btn-lg">Visitar repositorio 3</a></p>
    </div>
</div>